//
//  VimeoConfig.xcconfig
//  namava-assesment
//
//  Created by Vahid Ghanbarpour on 10/25/22.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

CLIENT_IDENTIFIER = 593f8ccfcf8d1a556f9cabd3eaaeebfb37e9efa4
CLIENT_SECRETS = skzuubD9nUvXF3tOBnLwpGeu0yG4y25fg7aAaET4MurDMUH+xrcnQoCM52ls8kB1S0gheehUwEuK4G5LQGAZRjIGZ5zJvBEcazpE4cbk5p6VHa/q9sG5gt4FWedfYYLT
ENDPOINT_TOKEN = fsXnpMGIUtqzUipq
