//
//  VimeoConfig.xcconfig
//  namava-assesment
//
//  Created by Vahid Ghanbarpour on 10/25/22.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

CLIENT_IDENTIFIER = bae34d8888d435b9d3ba41c0af57eaf0bec1f17e
CLIENT_SECRETS = iGkng15XT2hR0r5AQJYiETx0/M49IRY4Z3OfGXQisd5J4U9Pa7tGSOgoST71eNAzcSWcalkb6CLlCYRWP+8ptq0Pd56csqMPUUGzlirmVNfko+h/4bbFwuidDIKlRvqk
ENDPOINT_TOKEN = MbyKHQOPJggbujDR
ACCOUNT_NAME = rottingmummy
